vendor/
LMSLLM_integration.rb
core/framework/web/node_modules/
.clj-kondo/
.idea/
.lsp/
maven-mvnd-1.0.2-windows-amd64/
lmstudio_node_script.js
progress/
app.rb
core/models/*.*
core/framework/models/*.gguf
core/llamacpp/*.*
*.jar
*.gem
runtime
floating-chat-app.err.log
floating-chat-app.out.log
.glauco_profiles/
.github/